
{% extends "firstapp/base.html" %}
	{% block header %}
	 <div class='jumbotron'>
<h1>Track your learning.</h1>
</div>
{% endblock header %}
{% block content %}
	 <h2>
<a href="ent_test">Пройти входной тест</a> <br>to make
your own Learning Python, and list the topics you're learning about.
</h2>
<h2>
Whenever you learn something new about a topic, make an entry
summarizing what you've learned.
</h2>

<h2><a href="ll">to login-logout-signup</a></h2>
<h2><a href="ask_quest">задать вопрос</a></h2>

{% endblock content %}
